db.lock
*.cache
*.suo
.vs/PasswordSafeXAML/v16/.suo
*.cache
.vs/PasswordSafeXAML/v16/.suo
*.cache
*.lref
.vs/PasswordSafeXAML/v16/.suo
.vs/PasswordSafeXAML/v16/.suo
PasswordSafeXAML/bin/Debug/AddedLogins.csv
*.cache
*.cache
.vs/PasswordSafeXAML/v16/.suo
PasswordSafeXAML/obj/*
